################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Labs_Nubip_OBD/FileContentIndex/c367db36-dcd2-499c-862e-ef5d086fcf55.vsidx
/.vs/Labs_Nubip_OBD/FileContentIndex/414ad8d3-171c-4697-9182-a7601cebcb57.vsidx
.vs/