################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Labs_Nubip_OBD/FileContentIndex/c367db36-dcd2-499c-862e-ef5d086fcf55.vsidx
